.home-container {
    background-color: black;
    font-family: "Bungee Spice", sans-serif;
    min-height: 100vh;
}


.title {
    text-align: center;
}

@media (min-width:574px) {
    .title {
        text-align: start;
    }
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media (min-width:574px) {
    .content {
        display: flex;
        flex-direction: column;
        height: 500px;
    }

}

.container-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    /* padding: 10px; */
    align-self: flex-end;
    width: 100%;
}

.tools {
    display: flex;
    flex-direction: column;
}


@media (min-width:480px) {

    .tools {
        flex-direction: row;
        justify-content: space-around;
        width: 400px;
    }
}


.img-react,
.img-typescript {
    height: 90px;
    text-align: center;

}

@media (min-width:574px) {

    .img-react,
    .img-typescript {
        height: 120px;
        text-align: center;

    }
}


.title {
    margin: 0;
    padding: 0;
    padding: 20px;
}

.title>span {
    font-size: 12px;
    font-style: normal;
}

/* .h2 {
    padding: 0;
} */
.contact,
.links {
    display: flex;
    flex-direction: column;

}


.links {
    align-self: flex-start;
    width: 100%;
}

@media (min-width:574px) {
    .links {
        align-self: normal;
        flex-direction: row;
        justify-content: space-around;
    }
}

.contact {
    margin: 0;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact>img {
    width: 50px;
}

@media (min-width:574px) {
    .contact>img {
        width: 80px;
    }

}