* {
    box-sizing: border-box;
}

.form-container {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background-color: rgb(214, 214, 44);
}

.form-container_div {
    display: flex;
    height: 34px;
    width: 280px;
    padding: 1px;
}

@media (min-width:575px) {
    .form-container_div {
        width: 400px;
        height: 45px;
    }
}

.form-container_search-btn {
    display: flex;
    align-items: center;
    background-image: url(https://cdn-icons-png.flaticon.com/512/482/482631.png);
    cursor: pointer;
    border: 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.form-container_search-btn_img {
    background-color: transparent;
    height: 25px;
    width: 34px;

}

.form-container_nav-logo {
    background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre/logo__large_plus.png);
    height: 34px;
    min-width: 55px;
    margin-right: 15px;
    background-repeat: no-repeat;
}

@media (min-width:575px) {
    .form-container_nav-logo {
        height: 34px;
        min-width: 135px;
    }

}

.form-container_input {
    padding: 5px;
    font-size: 15px;
    width: 100%;
    border: none;
    left: 10px;
}


.form-container_search-btn {
    min-width: 40px;
    display: flex;
    justify-content: center;
}