* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    background-color: rgba(169, 169, 169, 0.301);

}

.container {
    min-height: 100vh;
}