/* Estilos para el ultimo nivel de la pagina, el producto seleccionado */
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.carousel {
    max-width: 660px;
    min-width: 330px;
}

.slider-button {
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 32px;
    cursor: pointer;
}

.carrousel-image {
    padding: 10px;
    width: 100%;
    max-height: 420px;
    border-radius: 10px;
    object-fit: contain;
}

.product-title {
    font-size: 19px;
}

.container-text-desc {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-radius: 10px;

}

.product-price {
    font-size: 32px;
    font-weight: 300;
    margin-top: 12px;
}

.div-button-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-comprar-a {
    width: 100%;
}

.button-comprar {
    cursor: pointer;
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    height: 48px;
    padding: 0 24px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
    line-height: 48px;
    margin-top: 12px;
    width: 100%;
    max-width: 720px;
}

/* para todos los sections */
section {
    padding: 15px;
}

/* detalles */
.attributes {
    width: 100%;
}

.product-ul {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.product-li {
    list-style: none;
    list-style-type: none;
    word-break: break-all;
    height: 40px;
}

.span-name-attribute {
    font-weight: bold;
}

.impar,
.par {
    padding: 4px;
}

.par {
    background-color: rgb(245, 242, 242);
}

.impar {
    background-color: rgba(128, 128, 128, 0.288);

}