/* Estilos para el ultimo nivel de la pagina, el producto seleccionado */

.product-container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

@media (min-width: 760px) {
    .product-container {
        flex-direction: row;
    }
}

.carousel {
    max-width: 660px;
    min-width: 370px;
}

.slider-button {
    border: 1px solid #444242;
    background-color: transparent;
    color: #000000;
    font-size: 32px;
    cursor: pointer;
}

.carrousel-image {
    padding: 20px;
    width: 100%;
    height: 380px;
    border-radius: 10px;
    object-fit: contain;
}


/* detalles */
.attributes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 210px);
}

.product-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: solid 1px;
}

.product-ul>h4 {
    margin: 0;
}

.product-li {
    list-style: none;
    list-style-type: none;
    word-break: break-all;
}